:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Raleway', sans-serif;

  --fw-reg: 300;
  --fw-bold: 800;

  --clr-light: white;
  --clr-gray1: #B7B7B7;
  --clr-gray2: #707070;
  --clr-dark: rgb(34, 33, 36);
  --clr-accent1: #6246EA;
  --clr-accent2: hsl(261, 81%, 19%);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

}

/* Elements */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
}

hr {
  border: 1px solid var(--clr-accent2);
}

label {

}

header {
  width: 80%;
  height: 80%;
}

main {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

main > p {
  font-family: var(--ff-primary);
}

div {
  border: thick, solid, black;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

header + img {
  height: 25%;
}

/* Classes */

.greeting {
  font-size: var(--fs-h1);
}

.logo {
  padding: auto;
}

.JC_logo {
  height: 120px;
  width: 120px;
}

.nav {

}

*.nav__link {
  color: var(--clr-accent1);
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
  font-weight: var(--fw-reg);
}

*.section__dark {
  margin: 0em;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

*.section__title {
  margin-bottom: 2px;
  font-size: var(--fs-h2);
  font-family: var(--ff-primary);
}

*.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.ECs {

}

.EC {
  height: auto;
}

/* IDs */

#JC_logo {
  display: block;
  height: 100px;
  width: 100px;
}

#aboutme {

}
 
#quotes {

}

#hobbies_interests {

}

#book_list {
  background-color: var(--clr-accent1);
  opacity: 0.5;
  border-style: dotted;
  border-width: 5px;
  border-radius: 20px;
  border-color: var(--clr-dark);
  color: var(--clr-light);
  width: 5cm;
  height: 6cm;
  padding: 2mm;
  text-align: center;
}

sec h3 {
  text-decoration: underline;
}

#skills {

}

#projects {

}

#ec {

}

/* Attributes */

button[type="button"] {

}

input[type="checkbox"] {

}

input[type="radio"] {

}

input[type="text"] {
  
}

input[type="password"] {

}

