:root {
  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Roboto', sans-serif;

  --fw-reg: 300;
  --fw-bold: 600;

  --clr-light: white;
  --clr-gray1: #E0E0E0;
  --clr-gray2: #807B7B;
  --clr-dark: rgb(34, 33, 36);
  --clr-accent1: #6246EA;
  --clr-accent2: hsl(261, 81%, 19%);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

}

/* Elements */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  left: 0;
  margin: 0 auto;
}

hr {
  border: 1px solid var(--clr-accent2);
}

label {
  font-family: var(--ff-primary);
}

header {
  width: 100%;
  height: 80%;
}

main {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

main > p {
  font-family: var(--ff-primary);
}

main {
  margin: 10px 10px 10px 0px;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

p, a, i {
  margin: 10px;
}

header + img {
  height: 25%;
}

p ~ li {
  font-size: var(--fs-h3);
}

audio {
  margin: 10px;
}

li {
  margin: 10px 0 0 0; 
}

iframe, video {
  width: 320px;
  margin: 10px;
}

table {
  margin: auto;
}

a::hover {
  font-weight: var(--fw-bold);
}

/* Classes */

.greeting {
  font-size: var(--fs-h1);
  background-color: var(--clr-accent1);
  padding-left: 20px;
  padding-top: 10px;
  margin: auto;
  width: 100%;
  height: 80px;
}

img.logo {
  margin: 20px;
}

.JC_logo {
  height: 120px;
  width: 120px;
}

.nav {
  overflow: hidden;
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  background-color: var(--clr-light);
  position: fixed;
  top: 0;
  border-bottom: 3px solid var(--clr-accent1);
  z-index: 1;
}

.content {
  margin-top: 100px;
}

.nav__link {
  color: var(--clr-accent1);
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 3px;
  margin-left: 15px;
  line-height: 60px;
  font-family: var(--ff-primary);
  font-size: var(--fs-h3);
  font-weight: var(--fw-reg);
  text-decoration: none;
}

.nav__link:hover {
  font-weight: var(--fw-bold);
}

:active {
  text-decoration: underline;
  font-weight: var(--fw-bold);
}

*.section__title {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 10px;
  border: thin, solid, var(--clr-dark);
  font-size: var(--fs-h2);
  font-family: var(--ff-primary);
  background: var(--clr-accent1);
  color: var(--clr-light);
  text-align: center;
}

*.section__subtitle {
  margin: 10px;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  color: var(--clr-accent2);
  text-decoration: underline;
}

.section__dark {
  margin: 0em;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.section__dark a {
  color: var(--clr-light);
}

.section__dark p {
  color: var(--clr-light);
}

.ECs {
  display: flex;
  flex-wrap: wrap;
}

.EC {
  flex: 1;
  margin: 10px;
  background-color: var(--clr-gray2);
}

@media (max-width: 800px) {
  .EC {
    flex: 100%;
  }
}

.grid-container {
  display: grid;
  grid: 250px / auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  margin: 10px;
}

.skillsToLearn, .top3 {
  margin: 10px;
  padding: 10px;
  background: var(--clr-accent2);
}

.contact {
  text-align: center;
  padding: 10px;
}

.survey {
  width: 100%;
  margin: 10px;
  padding: 10px;
  background-color: var(--clr-gray2);
}

/* IDs */

#JC_logo {
  display: inline-block;
  vertical-align: top;
  height: 100px;
  width: 100px;
  margin-right: 30px;
}

#picOfMe {
  display: block;
  margin: 10px auto;
  margin-bottom: 30px;
  height: 400px;
}
 
#quotes {
  margin: 20px;
  background: var(--clr-gray1);
}

#hobbies_interests {
  margin: 20px;
  background: var(--clr-gray1);
}

#book_list {
  background-color: var(--clr-accent1);
  opacity: 0.5;
  border-style: dotted;
  border-width: 5px;
  border-radius: 20px;
  border-color: var(--clr-dark);
  color: var(--clr-light);
  width: 5cm;
  height: 6cm;
  padding: 2mm;
  text-align: center;
  position: relative;
  float: right;
  top: -260px;
  left: -100px;
  z-index: 1;
}

#skills {
  width: 100%;
  height: auto;
  background: var(--clr-gray2);
  margin: 10px;
}

#projects {
  text-align: center;
}

#ec {
  position: static;
}

/* Attributes */

input[type=checkbox] {
  margin: 10px 0 0 10px; 
}

input[type=radio] {
  color: var(--clr-accent1);
}

input[type=text] {
  border-radius: 5px;
}

input[type=password] {
  border-radius: 5px;
}

